*{
    margin:0;
    padding:0;
}

body,html{
    overflow: hidden;
}

#launch{
    position:fixed;
    text-align: center;
    background:cornflowerblue;
    top: 85%;
    right: 38%;
    height:25px;
    width: 100px;
    border-radius: 10px;
    color:white;
}

span{
    vertical-align:middle;
}